/* Everything above 1279 */
.places__text {
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1.67;
}

/*Second Smallest */
@media only screen and (max-width: 1023px) {
  .places__text {
    font-size: 16px;
    line-height: 26.08px;
  }
}

/* Smallest Size */
@media only screen and (max-width: 767px) {
  .places__text {
    margin: 0 16px;
  }
}
