.cover__title {
  line-height: 76px;
  font-weight: 900;
  font-size: 72px;
  margin: 0 0 32px 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
